@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="BlogPosts" class="btn btn-primary">Blog Posts</a>
    <a asp-action="CreateEditPosts" class="btn btn-secondary">Create new</a>
</div>
 